.login-div{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width:400px;
    .ipt{
        margin-bottom:1rem;
        border-radius:5px;
    }
    .btn{
        background-color:#BB442C;
        border:0;
    }
    }