.page-home
  .home_header_container
    height 36px
    background-color #f5f5f5
    line-height 36px
  .home_content_container
    background-color white
  .header_item
    color #666666
    font-size 12px
  .header_item:hover
    color red
    cursor pointer
  .header_item:not(:first-child)
    margin-left 30px

  // 导航
  .content_nav_container
    height 100px
    line-height 100px
    display flex
    flex-direction row
    .ant-menu-horizontal
      border-bottom none
  .content_Carousel
    .carousel_block1
      background-image url("../../statics/home/banner1.jpg")
    .carousel_block2
      background-image url("../../statics/home/banner2.jpg")
  .goods_detail_wrapper
    display flex
    flex-direction column
    padding 20px 25px
    width 90%
    border 1px solid rgb(222, 222, 222)
    .goods_detail_title
      position relative
      margin-bottom 25px
      font-size 20px
    .goods_detail_card
      display flex
      flex-direction row
      width 100%
      justify-content space-around

.text-grey
  color #666666