.goods_info
  .info_warpper
    display flex
    justify-content center
    height 240px
    width 250px
    .info-img
      transform scale(.5)
      display inline-block

.row
  display flex
.mt-md
  margin-top 12px
.mr-xs
  margin-right 2px
.mt-lg
  margin-top 15px
.text-orange-sm
  color #ffcc01
  font-size 12px
.text-orange-lg
  color #ffcc01
  font-size 20px


  